<!-- <p>home works!</p>
<h3>This is refrence the component</h3> -->

<!-- Use of if & else  condition ---------------------->

<!-- @if(type == 1){
  <h2>Hello 1</h2>

}
@else {
<h2>Hello 2</h2>
} -->


<!-- Use of  switch case----------------------- -->

<!-- @switch(type){
  @case (1) {
    <h2>Hello1</h2>
  }

  @case (2) {
    <h2>Hello 2</h2>
  }

  @case (3) {
    <h2>Hello 3</h2>
  }
  @default { 
    <h2>Hello default</h2>
  }
} -->

<!-- Use of for loop ----------------------------- -->

<!-- @for (item of type; track $index) {
  <h2>Hello {{item}}</h2>
}
@empty {
  <h3> No Element in array</h3>
} -->



<div class="p-8 mt-4">
  <div class="flex flex-wrap  ">

    <div class="w-4/12 pr-2 mb-2">
      <app-product-card></app-product-card>
    </div>

    <div class="w-4/12 pr-2 mb-2">
      <app-product-card></app-product-card>
    </div>

    <div class="w-4/12 pr-2 mb-2">
      <app-product-card></app-product-card>
    </div>

    <div class="w-4/12 pr-2 mb-2">
      <app-product-card></app-product-card>
    </div>

  </div>

</div>